{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h3>{{ 'views.category_cost.title'|trans }}</h3>
    <a href="{{ route('category-costs.new') }}" class="btn btn-primary">
        {{ 'views.category_cost.button.new'|trans }}
    </a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'views.category_cost.attributes.name'|trans }}</th>
                <th>{{ 'views.category_cost.attributes.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ route('category-costs.edit', {'id': category.id}) }}" class="btn btn-default">
                        {{ 'views.category_cost.button.edit'|trans }}
                    </a>
                    |
                    <a href="{{ route('category-costs.show', {'id': category.id}) }}" class="btn btn-danger">
                        {{ 'views.category_cost.button.delete'|trans }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
